body{
    background-color: #cbc0d3;
}

.container{
    margin: auto;
    width: 650px;
    height: 550px;
    position: relative;
}
.welcome{
    background-color: #f6f6f6;
    height: 415px ;
    width: 650px;
    position: absolute;
    top: 25%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);;
}
.pinkbox{
    position:absolute;
    top: -10%;
    left:5%;
    background-color:  #eac7cc;
    width: 320px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}
.nodisplay{
    display: none;
    transition: all 0.5s ease;
}
/* 各占一半，都是块级元素 */
 .rightbox,.leftbox{
    position: absolute;
    width: 50%;
    transition:  1s all ease;
}

.leftbox{
    left: -2%;
}
.rightbox{
    right: -2%;
}
h1{
    text-align: center;
    margin-top: 90px;
    text-transform: uppercase;
    color:  #f6f6f6;
    font-size: 2em;
    letter-spacing: 8px;
}
.title{
    color:#8e9aaf ;
    font-size: 1.8em;
    line-height: 1.1em;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 300px;
    margin-top: 20%;
}
.desc{
    margin-top:-8px ;
}
.account{
    margin-top: 45%;
    font-size: 10px;
}
p{
    font-size: 0.7em;
    letter-spacing: 2px;
    color: #8e9aaf;
    text-align: center;
}
span{
    color: #eac7cc;
}
.flower{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 45%;
    left: 27%;
    opacity: 0.8;
    object-fit: cover
}
.smaller {
    width: 130px;
    height: 130px;
    top: 48%;
    left: 30%;
    opacity: 0.9;
  }
button{
    padding: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    border-radius: 10px;
    margin: auto;
    outline: none;
    display: block;

}
button:hover{
    background: #eac7cc;
    color: #f6f6f6;
    transition: background-color 1s ease-out;

}
.button{
    margin-top: 3%;
    background: #f6f6f6;
    color: #915960;
    border: solid 1px #eac7cc;

}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 7px;

}
.more-padding{
    padding-top: 35px;
}
.more-padding input{

    padding: 12px;
}
.more-padding .sumbit{
    margin-top: 45px;
}
.sumbit{
    margin-top: 25px;
    padding: 12px;
    border-color: #ce7d88;
}
.sumbit :hover{
    background-color: #cbc0d3;
    border-color:#bfb1c9 ;
}
input{
    background-color: #eac7cc;
    width: 65%;
    color: #ce7d88;
    border: none;
    border-bottom: 1px solid rgba(246, 246, 246, 0.5);
    font-weight: 100;
    padding-top: 20px;

}
input::placeholder{
    color: #f6f6f6;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 100;
}
input:focus{
    color: #ce7d88;
    outline: none;
    font-size: 1em;
    transition: all 0.8 ease;
    border-bottom: 1.2px solid #a7515d;
}
input:focus::placeholder{
    opacity: 0;
}
label{
    font-family: 'Times New Roman', Times, serif;
    color: #ce7d88;
    letter-spacing: 1px;
}
.checkbox{
    display: inline;
    white-space: nowrap;
    position: relative;
    left: -52px;
    top:25px;
}
input[type=checkbox] {
    width: 15px;
    background: #ce7d88;
  }
  
  .checkbox input[type=checkbox]:checked + label {
    color: #ce7d88;
    transition: 0.5s all ease;
  }